.logo {
	 float: left;
}
 nav {
	 float: left;
}
 nav ul {
	 margin: 5;
	 padding: 5;
	 list-style: circle;
}
 nav li {
	 display: inline-block;
}
 body {
	 background: #000000;
	 color: #fff;
}
 a {
	 color: #020077
}
 h1 {
	 color: #008080
}
 p {
	 color: #008000
}
 ol {
	 color: #008000
}
